/*!
  Info: This is a stylesheet for Northwest Florida ClickDimensions forms.
  Author: Jon Rivers
  *** DUPLICATE THIS FILE AND SAVE NEW BEFORE MAKING ANY CHANGES ***
  INSTRUCTIONS:
  1. For best results, use ClickDimensions Embed Widget instead of IFrame Option
  2. Wrap the entire widget in <div style="overflow:hidden"></div>
  3. Limit the form to 1 column. Do not use the columns in the grid editor.
  4. Use "FORM GRID DEFINITIONS" section below as a template for responsive columns
  TABLE OF CONTENTS:
  * FORM CONTAINER STYLE
  * FORM GRID DEFINITIONS
  * FIELD INPUT STYLE
  * FIELD LABEL STYLE
  * SUBMIT BUTTON STYLE
  * PREVIOUS BUTTON STYLE
  * NEXT BUTTON STYLE
*/

/*--- FORM CONTAINER STYLE ---*/
.clickdform.mainDiv {
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  font-size: 1em !important;
  margin: auto;
  float: left;
  padding-top: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  width: 100%;
}

.clickdform .responsiveCell div.alignTop,
.clickdform .responsiveCell div.alignBottom {
  display: block;
}

.clickdform .responsiveCell,
.clickdform .responsiveCellSize1,
.clickdform .maxSize1,
.clickdform .minSize1 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}



/*--- FIELD INPUT STYLE ---*/
.clickdform input[type='text'],
.clickdform textarea,
.clickdform select {
  font-family:  "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  font-size: 16px !important;
  color: #333;
  padding: 8px;
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
}

.clickdform input:hover,
.clickdform textarea:hover,
.clickdform select:hover {
  background: #f5f5f5;
}

.clickdform input[type="radio"],
.clickdform input[type="checkbox"] {
   margin-right: 4px;
}

/*--- FIELD LABEL STYLE ---*/
.clickdform span {
  color: #333 !important;
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px !important;
}

.clickdform span.maxSize1 {
  font-weight: bold !important;
}

.clickdform .requiredInfo {
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
}

/*--- SUBMIT BUTTON STYLE ---*/
.clickdform .buttonContainer {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.clickdform #btnSubmit {
  background: #c95b00;
  border: none !important;
  border-radius: 0px !important;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  font-weight: bold !important;
  font-size: 16px !important;
  letter-spacing: 1px;
  line-height: 1.42857;
  margin: 15px 0 0 0;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: .3s all;
  clear: both;
  width: 100%;
}

.clickdform #btnSubmit:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

/*--- PREVIOUS BUTTON STYLE ---*/
.clickdform .WizardPrevButton {
  margin: 15px 10px 0 0;
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  font-size: 13px;
  float: left;
}

/*--- NEXT BUTTON STYLE ---*/
.clickdform .WizardNextButton {
  margin: 15px 0px 0 0;
  font-family: "myriad-pro", "Myriad Pro", Georgia, sans-serif !important;
  font-size: 13px;
  float: right;
  clear: both;
}
